name: Release

on:
  workflow_dispatch:
  push:
    tags:
      - 'v*'
permissions:
  contents: write

env:
  GO_VERSION: 1.18

jobs:
  goreleaser:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Source Code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Setup Go Environment
        uses: actions/setup-go@v4
        with:
          go-version: ${{ env.GO_VERSION }}

      - name: Run GoReleaser
        uses: goreleaser/goreleaser-action@v5
        with:
          version: latest
          args: release --clean
        env:
          # CGO_ENABLED: 0
          GITHUB_TOKEN: ${{ secrets.RELEASE_GH_TOKEN }}
